.header {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    padding-top: 30px;
    height: 40px;
    z-index: 12;

    &-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        padding: 0 20px;
    }

    &-wrapper__logo {
        display: flex;
        width: 88px;
        height: 40px;

        &.active {
            span {
                color: var(--light-200);
                z-index: 999;
            }
        }

        span {
            font-family: var(--second-font);
            font-weight: 700;
            font-size: 20px;
            line-height: 100%;
            color: var(--white);
        }
    }

    &-wrapper__menu {
        display: flex;
        align-items: center;
        gap: 10px;

        &-text {
            display: none;
        }
    }

    &-wrapper__text {
        display: none;
        color: var(--black);
        transition: .5s all;

        &.active {
            display: flex;
        }
    }

    &-wrapper__burger {
        position: relative;

        width: 25px;
        height: 22px;

        box-sizing: border-box;

        &::before,
        &::after {
            position: absolute;

            content: '';

            width: 100%;
            height: 2px;

            background-color: var(--white);
            border-radius: 2px;
            transition: .3s all;
        }

        &::before {
            top: 0;
        }

        &::after {
            bottom: 0;
        }

        span {
            position: absolute;

            top: 45%;

            width: 100%;
            height: 2px;

            background-color: var(--white);
            border-radius: 2px;
        }
    }

    &-wrapper__burger.active {
        z-index: 999;

        span {
            scale: 0;
        }

        &::before,
        &::after {
            top: 45%;
            left: 0;
            background-color: var(--black);
        }

        &::before {
            transform: rotate(-45deg);
        }

        &::after {
            transform: rotate(45deg);
        }
    }
}